{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %})" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">
        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-3 mt-5 bread">Pay with PayPal <br><br>(Please don't make any payment here, this website is only for demo purpose)</h1>
          <p class="breadcrumbs">
            <span class="mr-2"><a href="{% url 'index' %}">Home</a></span>
            <span>Cart</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mt-5 mb-5">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <div id="paypal-button-container"></div>
  <script>
    paypal.Buttons({
      createOrder: (data, actions) => {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: '{{ total_price }}'
            }
          }]
        });
      },
      onApprove: (data, actions) => {
        return actions.order.capture().then(function(orderData) {
          window.location.href = '{% url "index" %}';
        });
      }
    }).render('#paypal-button-container');
  </script>
</div>

{% endblock %}
