{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %})" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">
        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-3 mt-5 bread">Orders</h1>
          <p class="breadcrumbs">
            <span class="mr-2"><a href="{% url 'index' %}">Home</a></span>
            <span>Orders</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-cart">
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="cart-list">
          <table class="table">
            <thead class="thead-primary">
              <tr class="text-center">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Zip Code</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Status</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
                <tr class="text-center">
                  <td>{{ order.first_name }}</td>
                  <td>{{ order.last_name }}</td>
                  <td>{{ order.street_address }}, {{ order.country }}, {{ order.town }}</td>
                  <td>{{ order.zip_code }}</td>
                  <td>{{ order.phone }}</td>
                  <td>{{ order.email }}</td>
                  <td>{{ order.status }}</td>
                  <td>Rp{{ order.total_price }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="8"><h5>You don't have any Orders!</h5></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
